html, body
{
  background-color: #D90429;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  padding: 1em;
}

footer
{
  padding: 1em;
  text-align: center;
}

header
{
  font-size: 1em;
  width: 1vw;
  position: fixed;
}

a, a:focus, a:visited
{
  color: #41B883;
  font-weight: bold;
  text-decoration: none;
}

a:hover
{
  color:  #2e2f30;
}

.arrow
{
  font-size: 2em;
}

.logo {
  width: 243px;
  height: 218px;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
