html, body
{
  background-color: #D90429;
  color: #2B2D42;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer
{
  font-size: 1rem;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  margin-top: -1rem;
  margin-left: -1rem;
  padding: 1rem;
  color: #2B2D42;
  background-color: #D90429;
  text-align: left;
}

header
{
  font-size: 1rem;
  width: 100vw;
  position: fixed;
  margin-top: -1rem;
  margin-left: -1rem;
  padding: 1rem;
  color: #2B2D42;
  background-color: #D90429;
  text-align: left;
}

a, a:focus, a:visited
{
  color: #D90429;
  font-weight: bold;
  text-decoration: none;
}

a:hover
{
  color:  #EF233C;
}

.arrow
{
  font-size: 2rem;
}
